<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayMyBuddy - Profile</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>

<body>
    <div class="navigation">
        <p>Pay my Buddy</p>
        <div>
            <a href="/transfer">Transférer</a>
            <a href="/profile">Profil</a>
            <a href="/connection">Ajouter Relation</a>
            <a href="/addCredit">Ajouter Crédit</a>
            <a href="/logout">Se Déconnecter</a>
        </div>
    </div>
    <div class="mediumBlank"></div>
    <div class="main column">
        <div class="column align-left">

            <div class="row">
                <div class="column bold width200px align-left">
                    <p>Username</p>
                    <p>Mail</p>
                </div>
                <div class="column width200px align-left">
                    <p th:text="${user.username}"></p>
                    <p th:text="${user.email}"></p>
                </div>
            </div>
            <div class="mediumBlank"></div>
            <form th:action="@{/updatePassword}" th:object="${passwordRequest}" method="post" class="column">
                <input type="password" id="currentPassword" th:field="*{currentPassword}"
                    placeholder="Mot de passe actuel" class="authField" required />
                <input type="password" id="newPassword" th:field="*{newPassword}" placeholder="Nouveau mot de passe"
                    class="authField" required />
                <button type="submit" class="button">Modifier</button>
            </form>

        </div>
    </div>
</body>

</html>